{% extends "main.html" %}

{% block content %}

<div class="form-container">
    <div class="form-header">
        <h2>Create a Post</h2>
        <p>Share your thoughts with the world!</p>
    </div>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form__group">
            <label for="{{ field.id_for_label }}">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}
        <div class="form__group">
            <button type="submit">Create/Update Post</button>
        </div>
    </form>
</div>

{% endblock content %}
