{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-bM5iQGxj5cqN23C5dDMPK8I6V7k+HFb4KU8t1v2deUEjGtRc3hSk1lzGGhEADLlTXO/B6TseRSTV5ilqkJ9v9A==" crossorigin="anonymous" />

  <title>ConnectHub- Break the boundries!</title>
</head>
<body>
  
</body>
</html>
{% include "navbar.html" %}

{% block content %}
  
  {% endblock content %}
  
</html>